    .navbar {
        background: #5a686f;
        width: 100%;
        position: sticky;
        box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
        align-items: stretch;
        height: 3.5rem;
        margin-bottom: 0px;
    }
    
    div.kyros {
        margin-bottom: 0;
        padding: 0 .5rem 0 1rem;
        height: 3.5rem;
        width: 15rem;
        font-size: 1.25rem;
        align-items: center;
    }
    
    img.kyros {
        vertical-align: middle;
        border-style: none;
        box-sizing: border-box;
        width: 100px;
    }
    
    #options {
        margin-left: auto;
        display: inline-flex;
    }
    
    div a.nav-profile {
        color: white;
        vertical-align: middle;
        box-sizing: border-box;
        height: 4rem!important;
        margin-right: 1.75rem;
    }
    
    div a.nav-link {
        color: rgb(45, 59, 85);
        vertical-align: middle;
        box-sizing: border-box;
        font: auto;
    }
    
    div#options img {
        width: auto;
        border-radius: 15%;
        height: 4rem;
        margin-right: .75rem;
    }
    
    div span.badge {
        background: white;
        color: grey;
        display: block;
        margin: 1%;
        opacity: .9;
        border-radius: 5px;
    }
    
    div#options div {
        margin: auto;
    }
    
    div.col-4 {
        border: 1px solid #d6d8e1;
        box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
        padding-right: 0px;
        min-width: 10%;
        max-width: 300px;
    }
    
    div.About {
        border-top: 1px solid #d6d8e1;
        flex: 1;
        position: fixed;
        bottom: 0;
        background: #d6d8e1;
    }
    
    div.col-8 {
        background: #e8ecee;
        flex-basis: auto;
    }
    
    div.dashboard {}
    
    li {
        color: transparent;
    }